/* Custom CSS pour les liens avec fond violet */

a:not(.btn-primary):not(.btn-secondary):not(.btn-outline):not(.no-bg) {
  background-color: #8b308e;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
  text-decoration: none;
}

a:not(.btn-primary):not(.btn-secondary):not(.btn-outline):not(.no-bg):hover {
  background-color: #6d256f;
}
